html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #5E1515;
}

h1 {
  display: flex;
  padding: 20px 20px 20px 20px;
  justify-content: space-between;
  font-family: 'Pangolin', cursive,;
  color: #D1EB2A;
  background-color: #948754;
}


h1 img {
  max-width: 40%;
}

header p {
  font-size: 2em;
  margin-top: 100px;

}

header div nav {
  padding-right: 5px;
  font-size: 1.5em;
  border: 3px solid black;
}

main {
  margin: 20px;
  background-color: #C47412;
}

section main h3 {
  font-size: 1.5em;
  font-weight: 200;
  padding: 20px 400px 20px 60px;
  margin-right: 170px;

}

body {
  border: solid black;
  margin: 30px;
}

#family-photo{
  margin: 20px 20px 20px 60px;
  max-width: 50%;
}

#addresses {
  margin: 20px 20px 20px 20px;
  line-height: 20px;
}

main div p {
  margin-bottom: 20px;
  font-size: 1.5em;
  padding-left: 20px;
}
figure {
  padding-left: 60px;
}

#products {
  display: inline;
  font-size: 1.5em;
}

footer {
  background-image: url('../fishimages/fish.jpg');
  opacity: .5;
  font-size: 3em;
  color: #460F0F;

}



