h1 {
  padding: 10px 0 40px 0;
  font-size: 3em;
}

.footer-nav {
  font-size: 1.5em;
}

main {

}

td {
   border: 1px solid black;
   padding-top: 10px;
}

th {
  font-size: larger;
  border: 1px solid black;
  
}

fieldset {
  display: flex;
  display: inline;
}